html {
  scroll-behavior: smooth;
}

body {
  background-color: #121213;
  color: white;
}

nav {
  width: 100% !important;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white !important;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  min-height: 100vh !important;
  display: block;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#landing #landing-content {
  margin-top: 15vh;
  display: inline-block;
}

#landing #landing-content #banner-wrapper {
  position: relative;
}

#landing #landing-content .banner {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 5rem;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 0;
}

#landing #landing-content img {
  position: relative;
  top: 0;
  left: 0;
  outline: solid 2px white;
  z-index: 2;
  height: auto;
  width: 100%;
}

#landing #landing-content img::before {
  content: "maxime de braekeleer";
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: red;
}

#landing #landing-content #text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#landing #landing-content #center-banner {
  color: #121213;
  z-index: 1 !important;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#landing #cta-wrapper {
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#landing #cta-wrapper a {
  color: white;
  text-decoration: none;
}

#landing #cta-wrapper:hover {
  cursor: pointer;
}

#landing #cta-arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 auto;
}

#about #about-wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 2vh 0;
}

#about #about-wrapper h2 {
  font-variant: small-caps;
  padding: 0;
}

#about #about-wrapper .grid-item {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 5vh 0;
}

#about #personal {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#about #personal p {
  display: inline-block;
}

#about #experience {
  text-align: right;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#about #experience .year {
  color: rgba(255, 255, 255, 0.5);
  font-size: .8rem;
}

#about #socials {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  font-size: 2.5rem;
}

#about #socials a {
  margin: 0 1vw;
  color: white;
}

#about #skills {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: center;
}

#about #skills #skills-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about #skills #skills-list li {
  margin: 0 1vw;
  font-size: 1.1rem;
}

#projects {
  text-align: center;
}

#projects h2 {
  margin: 10vh 0;
}

#projects hr {
  background: rgba(255, 255, 255, 0.1);
  width: 70%;
}

#projects .project-name {
  font-variant: small-caps;
  margin: 0;
}

#projects .project-type {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: .8rem;
}

#projects .project-desc {
  min-height: 17.5vh;
}

#projects .project-tech {
  font-size: 1.1rem;
}

#projects .project-tech-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 100%;
  margin-top: 3vh;
}

#projects .project-tech-ul li {
  margin: 0 20px;
}

#projects a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 45vh;
}

#contact span {
  font-variant: small-caps;
  font-weight: bolder;
}

#contact a {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .banner {
    font-size: 3rem !important;
  }
  #cta-wrapper {
    display: none !important;
  }
  #about {
    margin-top: 30vh;
  }
  #about-wrapper {
    display: block !important;
  }
  #socials {
    width: 100%;
  }
  #skills {
    text-align: left !important;
  }
  #skills ul {
    display: block !important;
    padding: 0;
  }
  #skills ul li {
    margin: 0 !important;
  }
  #projects {
    margin-top: 50vh !important;
  }
  .row {
    display: block !important;
  }
  .project {
    margin: 10vh auto !important;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    font-size: 2rem !important;
  }
  #about-wrapper {
    margin: 25vh;
  }
}
/*# sourceMappingURL=index.css.map */